footer {
  background-color: $darkblue;
  font-size: 14px;

  .top-bar {
    display: flex;
    padding: 28px 89px 35px 119px;

    div {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-right: 1px solid #6d7893;
      padding-left: 30px;
      font-size: 14px;

      &:first-child {
        padding-left: 0;
      }

      &:nth-of-type(4) {
        justify-content: center;
      }

      &:last-child {
        flex-direction: row;
        justify-content: flex-end;
      }

      &:nth-last-child(-n+2) {
        border: none;
      }
    }

    .list-item {
      flex: 1;

      a {
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer-item {
      flex: 1.5;

      #heading {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 1.56;
      }

      a {
        align-items: center;
        margin-bottom: 12px;

        img {
          height: 19px;
        }
      }

      p {
        font-size: 12.8px;
        line-height: 2.25;
      }
    }

    .cta-property {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        width: 207px;
        font-size: 12px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 14px;
      }

      .btn {
        display: inline-block;
        border: 1.6px solid $green;
        width: 168px;
        height: 38px;
        padding: 10px 18px 10px 22px;
        border-radius: 19.2px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: $white;
        &:hover{
          background-color: $green;
          border: 0;

        }
      }
    }

    .social {
      flex: 2;
      margin-top: 2px;

      a {
        margin-right: 14px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .box {
        padding-left: -24px;
        width:100%;
        border-bottom: 1px solid #6d7893;

      }
    }
  }

  .bottom-bar {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 89px 0 114px;
    border-top: 1px solid #6d7893;
    font-weight: 300;

    .col {
      display: flex;
      justify-content: flex-start;
      width: 80%;

      p {
        &:last-child {
          white-space: nowrap;
          margin-left: 58px;
        }
      }
    }

    .reserved-right {
      color: $white;
      width: 20%;
      text-align: right;
      white-space: nowrap;
    }
  }
}
