$monserrat: 'Montserrat', sans-serif;
$sourceSansPro:'Source Sans Pro', sans-serif;
$openSans: 'Open Sans', sans-serif;
$white: #ffffff;
$darkblue: #182545;
$green: #50e3b3;
$grey: #414042;
$lightgrey: #6b696c;
